body {
  background-color: rgb(246,247,248)!important;
}

.ui.large.secondary.pointing.menu {
  border-bottom: none;
}

.ui.huge.header {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#flip {
  color: rgb(13,61,98);
}

#book {
  color: #FFA400;
}

/* Main menu options */
a.item {
  color: rgb(147,163,177)!important;
}

a.item:hover {
  color: #FFA400!important;
  border-bottom: 2px solid #FFA400!important;
}
